.map {
    display: inline-block;
    float: left;
    padding: 5px;
    background-color: #FF9A4D;
    width: 1000px;
    height: 500px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.out {
    display: inline-block;
    float: left;
    padding: 5px;
    width: 862px;
    height: 500px;
    background-color: #FF9A4D;
    margin-bottom: 10px;
    margin-top: 50px;
}

div.out img {
    width: 862px;
    height: 500px;
}
