/* mobile */
@media only screen and (max-width: 1700px) {

.item-row {
    width: 100%;
    height: 1520px;
    margin: 30px 0;
    margin-left: 0;
    margin-right: 0;
}

.main-item {
    width: 300px;
    height: 300px;
    float: left;
    display: inline-block;
    background-color: white;
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.item-row div:nth-child(2n+1) {
    margin-left: calc((100% - 700px) / 2);
    clear: both;
}

div.main-item h1 {
    font-family: Arial;
    font-size: 35px;
    display: inline-block;
    color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    margin-right: 50%;
}

div.main-item img {
    width: 300px;
    height: 300px; 
    position: absolute;
}

}

/* desktop */
@media only screen and (min-width: 1700px) {

.item-row {
    width: 100%;
    height: 760px;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

.main-item {
    width: 300px;
    height: 300px;
    float: left;
    display: inline-block;
    background-color: white;
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.item-row div:nth-child(4n+1) {
    margin-left: calc((100% - 1500px) / 2);
    clear: both;
}

div.main-item h1 {
    font-family: Arial;
    font-size: 35px;
    display: inline-block;
    color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

div.main-item img {
    width: 300px;
    height: 300px; 
    position: absolute;
}

}
