body {
    background-color: #FFFFFF;
}

/*

.top-menu {
    height: 7%;
}

div.top-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-top: 1%;
    height: 128px;
    text-align: center;
}

.left-item {
    background-color: #22477B;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    line-height: 40px;
}

li.left-item a {
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: white;
    padding: 0;
    font-family: Arial, serif;
}

.right-item {
    line-height: 0px;
}

li.right-item a {
    display: none;
}
*/


.top-menu {
    height: 7%;
}

div.top-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-top: 10px;
    height: 70px;
    background-color: #387780;
    overflow: hidden;
}

.left-item {
    line-height: 70px;
    float: left;
}

li.left-item a {
    text-decoration: none;
    display: block;
    font-size: 24px;
    color: white;
    padding: 0 30px;
    font-family: Arial, serif;
}

.right-item {
    float: right;
    line-height: 70px;
}

li.right-item a {
    text-decoration: none;
    display: block;
    font-size: 30px;
    color: white;
    padding: 0px 50px;
    font-family: Arial, serif;
}

